@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

ion-icon {
    font-size: 1.25rem;
    cursor: pointer;

}

img,
p {
    cursor: pointer;
}

strong {
    font-weight: 500;
}

::placeholder {
    color: #979797;
}

.header-mobile {
    height: 54px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
}

.header-mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
    width: 100%;
}

.header-mobile img {
    width: 103px;
    height: 29px;
}

.header {
    display: none;
}

.feed {
    margin: 54px 0;
}

.stories-container {
    height: 121px;
    padding-left: 16px;
    display: flex;
    gap: 12px;
    overflow: hidden"";
}

.stories-individual {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.stories-images {
    position: relative;
    width: 66px;
    height: 66px;
}

.stories-images img:nth-child(1) {
    width: 66px;
    position: absolute;
}

.stories-images img:nth-child(2) {
    width: 56px;
    position: absolute;
    top: 5px;
    left: 5px;
}


.stories-individual p {
    font-size: 0.75rem;
    font-weight: 400;
}

.arrow {
    display: none;
}

.post-container {
    background-color: #FFFFFF;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 18px;
}

.post-header-left {
    display: flex;
    align-items: center;
    gap: 15px
}

.post-header-left img {
    width: 32px;
}

.post-header-left p {
    font-size: 0.875;
    font-weight: 500;
}

.post-image {
    width: 100%;
}

.post-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 17px;
}

.post-sub-left {
    display: flex;
    gap: 18px;
}

.post-likes {
    display: flex;
    align-items: center;
    padding-left: 17px;
    gap: 5px;
    padding-bottom: 14px;
}

.post-likes img {
    width: 20px;
}

.post-likes p {
    font-size: 0.825rem;
    font-weight: 300;
}

.lateral-container {
    display: none;
}

.footer-container {
    height: 54px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    background-color: #FFFFFF;
    border-top: 1px solid #DBDBDB;
}

.footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 18px;

}

@media (min-width: 614px) {

    .header-mobile {
        display: none;
    }

    .header {
        display: inline;
        height: 54px;
        width: 100%;
        display: flex;
        position: fixed;
        top: 0;
        z-index: 1;
        border-bottom: 1px solid #DBDBDB;
        background-color: #FFFFFF;
    }

    .header-container {
        background-color: #FFFFFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 18px;
        width: 100%;
    }

    .header-left {
        display: flex;
        gap: 10px;
        align-content: center;
    }

    .header-left ion-icon {
        align-self: center;
    }

    .header input {
        width: 215px;
        border: 1px solid #DBDBDB;
        height: 28px;
        text-align: center;
        border-radius: 3px;
        font-size: 0.75rem;
        font-weight: 400;
        background-color: #FAFAFA;
    }

    .header-right {
        display: flex;
        gap: 25px
    }

    .feed {
        display: flex;
        justify-content: center;
        margin-top: 88px;
        width: 100%;
    }


    .stories-container {
        border: 1px solid #DBDBDB;
        background-color: #FFFFFF;
        width: 614px;
        box-sizing: border-box;
        position: relative;
    }

    .arrow {
        display: inline;
        color: #FFFFFF;
        font-size: 26px;
        position: absolute;
        right: 9px;
        top: 46px;
        /* aplicar shadow */
        text-shadow: -2px 2px 5px #262626;
    }

    .posts {
        margin-top: 24px;
        width: 100%;
    }

    .post-container {
        border: 1px solid #DBDBDB;
        width: 100%;
    }

    .lateral-container {
        display: none;
    }

    .footer-container {
        display: none;
    }


}

@media (min-width: 935px) {

    .header {
        display: flex;
        justify-content: center;
    }

    .header-container {
        width: 932px;
    }

    .feed {
        gap: 30px;
    }

    .lateral-container {
        display: inline;
        width: 292px;
    }

    .perfil {
        display: flex;
        align-items: center;
        gap: 17px;
        padding: 24px 0;
    }

    .perfil img {
        width: 56px;
    }

    .perfil-name {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .perfil-name p:nth-child(1) {
        font-size: 0.875rem;
        font-weight: 500;
    }

    .perfil-name p:nth-child(2) {
        font-weight: 300;
        color: #8E8E8E;
    }

    .sugestions-title {
        display: flex;
        justify-content: space-between;
        padding-bottom: 17px;
    }

    .sugestions-title p:nth-child(1) {
        font-size: 0.75rem;
        color: #8E8E8E;
    }

    .sugestions-title p:nth-child(2) {
        font-size: 0.75rem;
    }

    .sugestions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 17px;

    }

    .sugestions img {
        height: 32px;
        margin-right: 10px;
    }

    .sugestions-perfil {
        display: flex;
        align-items: center;
    }

    .perfil-name-sub {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .perfil-name-sub p:nth-child(1) {
        font-size: 0.875rem;
        font-weight: 500;
    }

    .perfil-name-sub p:nth-child(2) {
        font-weight: 400;
        font-size: 0.75rem;
        color: #8E8E8E;
    }

    .follow {
        font-size: 0.754rem;
        font-weight: 500;
        color: #139EF2;
    }

    .help {
        display: flex;
        flex-direction: column;
        gap: 18px;
        margin-top: 33px;
    }

    .help p {
        font-weight: 400;
        font-size: 0.6875rem;
        color: #C7C7C7;
        line-height: 13px;
    }

    .help p:nth-child(2) {
        cursor: initial;
    }

}

.vertical-border {
    width: 1px;
    background-color: #DBDBDB;
    min-height: 100%
}